.sidebar-header {
    display:flex;
    align-items: center;
    padding: 9px;
    border-bottom: 1px solid #e5e5e5;
    justify-content: space-evenly;
}

.user-avatar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-left: 30px;
    justify-content: flex-start;
    border-bottom: 1px solid #e5e5e5;
    border: 1px solid red;
    
}

.user-avatar button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 10px
}

.user-avatar button span {
    border: 1px solid green;
    align-self: center;
}

